body {
    color: #cf3939;
    background-color: #484848
}
#logo img{
    width: 650px;
    border: 10px solid #d89030;
    border-radius: 20px
}


.secao {
    border:2px solid #851dfd;
    border-radius: 10px;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}